@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    background-color: #131427;
    color: #fff;
    font-family: 'Open Sans';
}

.landing-page-wrapper {
    display: flex;

}

.landing-page {
    max-width: 50%;
}

.intro-1 {
    color: #383FB6;
    font-size: 1rem;

}

.intro-2 {
    color: #c72424;
    font-size: 3rem;
}

.intro-3 {
    color: #ffffff8d;

    font-size: 2rem;
}