@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Open Sans';
  color: rgb(var(--foreground-rgb));
  background-color: #2C2F34;
  color: #D2D3D5;
}

.purple {
  color: #A36BC0
}

.light-gray {
  color: #7E7F81
}

.white {
  color: #fff;
}

.blurb {
  font-size: 17px;
  font-family: 'Open Sans';
}